*, html, body {
    font-family: 'Cairo', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cairo', sans-serif !important;
    margin: 0 0 20px 0;
    padding: 0;
  }

.header > div > div > div > nav > ul {
    flex-direction: row-reverse;
}

.header > div > div > div > nav > ul > li > a{
    font-size: 1.1em;
}

.header > div > div > div > nav > ul > li > ul > li > a {
    text-align: right;
    font-size: .9em;
}

.header > div > div > div > nav > ul > li.d-flex.text-white.align-items-center {
    font-size: .75em;
}

.header > div > div > div > nav > ul > li.d-flex.text-white.align-items-center > a.align-self-start{
    line-height: 1;
}

.header > div > div > div > nav > ul > li.d-flex.text-white.align-items-center.justify-content-between > span {
    margin: 0 5px;
}

.mobile-nav a,
#services .description,
#services .title {
    text-align: right;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
    padding-right: 1em;
}

.nav-menu .drop-down ul {
    left: calc(14px - 100%);
}
