*, html, body {
    font-family: 'Cairo', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cairo', sans-serif !important;
    margin: 0 0 20px 0;
    padding: 0;
  }

.header > div > div > div > nav > ul {
    flex-direction: row-reverse;
}

.header > div > div > div > nav > ul > li.d-flex.text-white.align-items-center {
    font-size: .75em;
}

.header > div > div > div > nav > ul > li.d-flex.text-white.align-items-center > a.align-self-start{
    line-height: 1;
}

.header > div > div > div > nav > ul > li.d-flex.text-white.align-items-center.justify-content-between > span {
    margin: 0 5px;
}

.mobile-nav a,
#services .description,
#services .title,
.news-details .news-description,
.splide__slide .news-box .news-text h3,
#about > div > header > p,
.splide__slide .news-box .news-text p,
.current-body h3.current-title,
.current-body p,
#news .news-item .news-info,
.header > div > div > div > nav > ul > li > ul > li > a {
    text-align: right;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
    padding-right: 1em;
}

.nav-menu .drop-down ul {
    left: calc(14px - 100%);
}

.mobile-nav .drop-down li {
    margin-right: 2rem;
  }

#services .box-head {
    align-items: flex-end;
}

#news #news-flters,
.splide__slide .news-box {
  flex-direction: row-reverse;
}

.splide__slide .news-box .news-text {
    padding-right: 1rem;
    padding-left: 0;
}


#splide01 > div.splide__arrows > button.splide__arrow.splide__arrow--prev {
    top: -3rem;
    left: 60%;
}
  
#splide01 > div.splide__arrows > button.splide__arrow.splide__arrow--next {
    bottom: 2rem;
    left: 60%;
}