/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  --prim-clr: #84ce62;  
  --prime-clr-light: #edffe4;
  --sec-clr: #9b3792;
  --sec-clr-light: #e4ffd7;
  --accent-clr: #485faa;
}

body {
  background: #fff;
  color: #666666;
  font-family:'Cairo', "Montserrat", sans-serif !important;
  overflow: hidden;
}

body.fadeOut {
  overflow: auto;
  overflow-x: hidden;
}

a {
  color: var(--prim-clr);
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #18d36e;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family:'Cairo', "Montserrat", sans-serif !important; 
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: rgba(68, 68, 68, 0.76);
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 10%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
  box-shadow: 0px 0px 10px rgba(127, 137, 161, 0.4);
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

/* Prelaoder */
.preloader {
  position: fixed;
  top: 122;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

.preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid var(--prim-clr);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Social-Header
--------------------------------------------------------------*/
.header-social {
  background-color: var(--prim-clr);
}

.header-social .social-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.header-social .social-item {
  list-style-type: none;
  padding: .3rem;
}

.header-social .social-link:hover {
  background: var(--sec-clr-light);
  color: #333;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 8px 0;
  background-image: url(../img/patterns/Pattern.png);
  background-repeat: repeat;
  background-size: 15em;
  background-blend-mode: multiply;
  background-color: var(--sec-clr-light); 
  box-shadow: 0px 0px 10px rgba(127, 137, 161, 0.5);
}

.logo {
  font-size: 34px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  padding-left: 10px;
}

.logo a {
  text-transform: uppercase;
  color: #fff;
  font-weight: bolder;
}

.logo img {
  max-height: 60px;
  margin: 0;
  padding: 0;
}

@media (max-width: 992px) {
  .header .logo {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #333;
  transition: 0.3s;
  font-size: 12px;
  font-family:'Cairo', "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-menu a:hover, .nav-menu .active > a, #header.header-scrolled .nav-menu a:hover {
  color: var(--prim-clr);
}

.nav-menu li:last-child > a {
  color:#888;
}

.nav-menu li:last-child > a:hover, .nav-menu li:last-child > a.active {
  color: #555;
}

#header > div > div > div > nav > ul > li.d-flex.text-white.align-items-center.justify-content-between > span {
  margin: 0 5px;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #f3f3f3e0;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 1s ease;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
  border-radius: 10px;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 13px;
  text-transform: none;
  color: #333333;
  transition: padding .35s ease;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: var(--prim-clr);
  padding-left: .1em;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 19px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: var(--prim-clr);
  font-size: 1.25em;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #f9f9f9dc;
  transition: ease-in .85s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #333333;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: var(--prim-clr);
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(26, 26, 26, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Slider
--------------------------------------------------------------*/
.slider-area {
  color: #fff;
  position: relative;
  text-align: center;
}

.slider-content {
  padding: 180px 60px;
}

.slides img {
  width: 100%;
  height: 640px !important;
}

.nivo-caption::after {
  background: #333 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.layer-1-2 {
  margin: 20px 0;
}

.layer-1-1 h2 {
  color: #fff;
  font-size: 26px;
  font-weight: 700;
}

.layer-1-2 h1 {
  color: #fff;
  font-size: 52px;
  font-weight: 700;
  line-height: 60px;
}

.layer-1-3 {
  margin: 50px 0 0;
}

.layer-1-3 a.ready-btn {
  border: 1px solid #fff;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  margin-top: 30px;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
  z-index: 222;
}

.layer-1-3 a.ready-btn:hover {
  color: #fff;
  background: var(--prim-clr);
  border: 1px solid var(--prim-clr);
  text-decoration: none;
}

.ready-btn.right-btn {
  margin-right: 15px;
  background: var(--prim-clr);
  border: 1px solid var(--prim-clr) !important;
}

.ready-btn.right-btn:hover {
  background: transparent !important;
  border: 1px solid #fff !important;
}

.nivo-controlNav {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 8;
}

.nivo-directionNav {
  display: block;
}

.nivo-controlNav a {
  background: transparent none repeat scroll 0 0;
  border: 2px solid #fff;
  box-shadow: none;
  display: inline-block;
  font-size: 0;
  height: 2px;
  margin: 5px 3px;
  opacity: 1;
  text-align: center;
  text-indent: inherit;
  vertical-align: top;
  width: 20px;
}

.nivo-controlNav a:hover, .nivo-controlNav a.active {
  background: #fff none repeat scroll 0 0;
  border-color: var(--prim-clr);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

/* Normal desktop :992px. */
@media (min-width: 1400px) and (max-width: 1920px) {
  .slider-content {
    padding: 340px 0;
  }
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
  .slider-content {
    padding: 144px 0 144;
  }
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .slider-content {
    padding: 144px 0;
  }
  .layer-1-2 h1 {
    font-size: 42px;
    line-height: 21px;
    margin-bottom: 60px;
  }
  .layer-1-2 h4 {
    margin-bottom: 60px;
  }
  .layer-1-3 a.ready-btn {
    font-size: 14px;
    margin-top: 20px;
    padding: 10px 20px;
  }
}

@media (max-width: 767px) {
  .nivo-directionNav {
    display: none;
  }
  .slider-content {
    padding: 126px 0px;
  }
  .layer-1-2 {
    margin: 50px 0;
  }
  .layer-1-1 h4 {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 40px;
  }
  .layer-1-2 h1 {
    font-size: 32px;
  }
  .layer-1-3 a.ready-btn {
    font-size: 12px;
    margin-top: 10px;
    padding: 8px 10px;
  }
  .layer-1-3 {
    margin: 10px 0 0;
  }
  .nivo-controlNav {
    bottom: -8px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .slider-content {
    padding: 126px 0px;
  }
  .layer-1-1 h4{
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 40px;
  }
 .layer-1-2 h1 {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 40px;
  }
}

/* -------------------------------------
preview-1
---------------------------------------- */
.preview-1 .nivoSlider {
  position: relative;
  background: url(../lib/nivo-slider/img/loading.gif) no-repeat 50% 50%;
}

.preview-1 .nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

.preview-1 .nivoSlider a {
  border: 0;
  display: block;
}

.preview-1 .nivo-controlNav {
  text-align: center;
  padding: 20px 0;
}

.preview-1 .nivo-controlNav a {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(../lib/nivo-slider/img/bullets.png) no-repeat;
  text-indent: -9999px;
  border: 0;
  margin: 0 2px;
}

.preview-1 .nivo-controlNav a.active {
  background-position: 0 -22px;
}

.preview-1 .nivo-directionNav a {
  display: block;
  width: 30px;
  height: 30px;
  background: url(../lib/nivo-slider/img/arrows.png) no-repeat;
  text-indent: -9999px;
  border: 0;
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.preview-1:hover .nivo-directionNav a {
  opacity: 1;
}

.nivo-prevNav {
  left: 15px;
}

.nivo-nextNav {
  right: 15px;
}

.preview-1 a.nivo-nextNav {
  background-position: -30px 0;
}

.preview-1 .nivo-caption {
  font-family: Helvetica, Arial, sans-serif;
}

.preview-1 .nivo-caption a {
  color: #fff;
  border-bottom: 1px dotted #fff;
}

.preview-1 .nivo-caption a:hover {
  color: #fff;
}

.preview-1 .nivo-controlNav.nivo-thumbs-enabled {
  width: 100%;
}

.preview-1 .nivo-controlNav.nivo-thumbs-enabled a {
  width: auto;
  height: auto;
  background: none;
  margin-bottom: 5px;
}

.preview-1 .nivo-controlNav.nivo-thumbs-enabled img {
  display: block;
  width: 120px;
  height: auto;
}

.preview-1 .nivo-controlNav {
  position: relative;
  z-index: 99999;
  bottom: 68px;
}

.preview-1 .nivo-controlNav a {
  border: 5px solid #fff;
  display: inline-block;
  height: 18px;
  margin: 0 5px;
  text-indent: -9999px;
  width: 18px;
  line-height: 8px;
  background: #3c3c3c;
  cursor: pointer;
  position: relative;
  z-index: 9;
  border-radius: 100%;
  opacity: 0;
  z-index: -999;
}

.preview-1:hover .nivo-controlNav a {
  opacity: 1;
  z-index: 999999;
}

.preview-1 .nivo-controlNav a:hover, .preview-1 .nivo-controlNav a.active {
  background: #000;
  cursor: pointer;
}

/* -------------------------------------
preview-2
---------------------------------------- */
.preview-2 .nivoSlider:hover .nivo-directionNav a.nivo-prevNav {
  left: 50px;
}

.preview-2 .nivoSlider:hover .nivo-directionNav a.nivo-nextNav {
  right: 50px;
}

.preview-2 .nivoSlider .nivo-directionNav a.nivo-prevNav {
  font-size: 0;
}

.preview-2 .nivoSlider .nivo-directionNav a.nivo-nextNav {
  font-size: 0;
}

.preview-2 .nivo-directionNav a.nivo-prevNav::before {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #ffffff;
  content: "";
  cursor: pointer;
  font: 300 50px/50px FontAwesome;
  position: absolute;
  text-align: center;
  top: 50%;
  transition: all 300ms ease-in 0s;
  z-index: 9;
  font-weight: 100;
  left: 0px;
  width: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 30px;
}

.preview-2 .nivo-directionNav a.nivo-nextNav:hover:before, .preview-2 .nivo-directionNav a.nivo-prevNav:hover:before {
  border-color: var(--prim-clr);
  color: #fff;
  background: var(--prim-clr);
}

.preview-2 .nivo-directionNav a.nivo-nextNav::before {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #ffffff;
  content: "";
  cursor: pointer;
  font: 100 30px/50px FontAwesome;
  height: 50px;
  position: absolute;
  right: 0px;
  text-align: center;
  top: 50%;
  transition: all 300ms ease-in 0s;
  width: 50px;
  z-index: 9;
  font-size: 30px;
}

.niceties.preview-2 {
  position: relative;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  overflow: hidden;
}

/* Sections Header
--------------------------------*/
.section-header h3 {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
}

.section-header h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-header h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--prim-clr);
  bottom: 0;
  left: calc(50% - 20px);
}

.section-header p {
  text-align: center;
  padding-bottom: 30px;
  color: #333;
}

/* Section with background
--------------------------------*/
.section-bg {
  background: #f7f7f7;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background-color: #f9f9f9;
  min-height: 40px;
  margin-top: 90px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 80px;
  }
}

.breadcrumbs h2 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 400;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/* About Us Section
--------------------------------*/
#about {
  background: url("../img/about-bg.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 160px 0 40px 0;
  position: relative;
}

#about::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 9;
}

#about .container {
  position: relative;
  z-index: 10;
}

#about .about-col {
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}

#about .about-col .img {
  position: relative;
}

#about .about-col .img img {
  border-radius: 4px 4px 0 0;
}

#about .about-col .icon {
  width: 64px;
  height: 64px;
  padding-top: 8px;
  text-align: center;
  position: absolute;
  background-color: var(--prim-clr);
  border-radius: 50%;
  text-align: center;
  border: 4px solid #fff;
  left: calc( 50% - 32px);
  bottom: -30px;
  transition: 0.3s;
}

#about .about-col i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
  transition: 0.3s;
}

#about .about-col:hover .icon {
  background-color: #fff;
}

#about .about-col:hover i {
  color: var(--prim-clr);
}

#about .about-col h2 {
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
  margin: 40px 0 12px 0;
}

#about .about-col h2 a {
  color: #000;
}

#about .about-col h2 a:hover {
  color: var(--prim-clr);
}

#about .about-col p {
  font-size: 14px;
  line-height: 24px;
  color: #333;
  margin-bottom: 0;
  padding: 0 20px 20px 20px;
}

/* Services Section
--------------------------------*/
#services {
  background-image: url(../img/patterns/Pattern.png);
  background-repeat: repeat;
  background-size: 80em;
  background-blend-mode: multiply;
  background-color: var(--sec-clr-light); 
  padding: 60px 0 40px 0;
  position: relative;
}

#services .container {
  position: relative;
  z-index: 10;
}

#services > div > header > p {
  color: #000;
}

#services .container .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 284px));
  justify-content: center;
}

#services .box {
  margin: 0 8px;
  margin-bottom: 30px;
  padding: 0;
  background: #f7f7f7;
  border-radius: 10px;
  overflow: hidden;
}

@media only screen and (max-width: 992px) {
  #services .container .row {
    grid-template-columns: repeat(auto-fit, minmax(240px, 350px));
  }
}

@media only screen and (max-width: 768px) {
  #services .container .row {
    grid-template-columns: repeat(auto-fit, minmax(240px, 650px));
  }
}

#services .box:hover .box-head img {
  transform: scale(.85);
}

#services .box:hover .box-head h6 {
  transform: scale(1.25);
}

#services .box:hover .box-head::before {
  background: rgba(0, 0, 0, 0.3);
}

#services .box-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  position: relative;
}

#services .box-head::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.02);
  z-index: 999;
  transition: background .45s ease-in-out;
}

#services .box-head h6 {
  z-index: 1;
  transition: transform .85s ease-in-out;
}

#services .box-body {
  padding: 1.5rem 2rem;
  background: #f5fff1;
}

#services .box img {
  max-height: 100px;
  margin: 0;
  padding: 0;
  transition: transform .85s ease-in-out;
}

#services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#services h4.title {
  color: #111;
  font-size: 1.2rem;
}

#services .description {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
}

/* Partners Section
--------------------------------*/
.partners {
  padding: 3rem 0 10rem !important;
  background: url(../img/patterns/pattern.jpg) fixed;
  background-blend-mode: multiply;
  background-color: #202b1bcf;
  background-size: 80em;
}

.partners .section-title {
  color: var(--prime-clr-light);
  margin-bottom: 4rem;
}

.splide__slide img {
  width: 120px;
  height: 120px;
  border-radius: 6px;
}

#splide01 > div.splide__arrows {
  position: absolute;
  bottom: -7rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding: 0;
  margin: 0;
}


/* .partners {
  width: 100%;
  padding:1rem 0 2rem;
  background: url(../img/partners-bg.jpg) fixed;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,.7);
  background-size: cover;
  background-position: bottom;
}

.partners h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.partners .carousel {
  width: 100%;
}

.partners .carousel-inner {
  height: 100%;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wrapper h4 {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.wrapper div {
  height: 190;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.wrapper div img {
  margin-bottom: .5rem;
}

.partners .carousel-item {
  height: 100%;
  padding: 0 1rem;
}

.partners .carousel-inner img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.carousel-inner {
  background-color: transparent;
}

@media only screen and (min-width: 360px) {
  .partners .carousel-inner img {
      width: 120px;
      height: 120px;
  }
}

@media only screen and (min-width: 520px) {
  .wrapper {
      flex-direction: row;
  }
}

@media only screen and (min-width: 992px) {
  .partners .who-section-title {
      font-size: 3rem;
  }

  .partners .carousel-inner img {
      width: 150px;
      height: 150px;
  }
} */

/* News Section
--------------------------------*/
#news {
  padding: 60px 0;
  background: #f9fff7;
}

#news #news-flters {
  padding: 0;
  margin: 5px 0 35px 0;
  list-style: none;
  text-align: center;
}

#news #news-flters li {
  cursor: pointer;
  margin: 15px 15px 15px 0;
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 20px;
  color: #666666;
  border-radius: 4px;
  text-transform: uppercase;
  background: #fff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

#news #news-flters li:hover, #news #news-flters li.filter-active {
  background: var(--prim-clr);
  color: #fff;
}

#news #news-flters li:last-child {
  margin-right: 0;
}

#news .news-wrap {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

#news .news-wrap:hover {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}

#news .news-item {
  position: relative;
  height: 360px;
  overflow: hidden;
}

#news .news-item figure {
  background: #111;
  overflow: hidden;
  height: 180px;
  position: relative;
  border-radius: 4px 4px 0 0;
  margin: 0;
  transition: transform 750ms  cubic-bezier(.5, 0, .5, 1);
}

#news .news-item figure:hover img {
  opacity: 0.4;
  transition: transform 750ms  cubic-bezier(.5, 0, .5, 1);
}

#news .news-item figure .link-preview, #news .news-item figure .link-details {
  position: absolute;
  display: inline-block;
  opacity: 0;
  line-height: 1;
  text-align: center;
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 50%;
  transition: 0.2s linear;
}

#news .news-item figure .link-preview i, #news .news-item figure .link-details i {
  padding-top: 7px;
  font-size: 22px;
  color: #333;
}

#news .news-item figure .link-preview:hover, #news .news-item figure .link-details:hover {
  background: var(--prim-clr);
}

#news .news-item figure .link-preview:hover i, #news .news-item figure .link-details:hover i {
  color: #fff;
}

#news .news-item figure .link-preview {
  left: calc(50% - 38px);
  top: calc(50% - 18px);
}

#news .news-item figure .link-details {
  right: calc(50% - 38px);
  top: calc(50% - 18px);
}

#news .news-item figure:hover .link-preview {
  opacity: 1;
  left: calc(50% - 44px);
}

#news .news-item figure:hover .link-details {
  opacity: 1;
  right: calc(50% - 44px);
}

#news .news-item .news-info {
  background: #fff;
  text-align: center;
  padding: 30px;
  height: 150px;
  border-radius: 0 0 3px 3px;
}

#news .news-item .news-info h4 {
  font-size: 18px;
  line-height: 1px;
  font-weight: 700;
  margin-bottom: 18px;
  padding-bottom: 0;
}

#news .news-item .news-info h4 a {
  color: #333;
}

#news .news-item .news-info h4 a:hover {
  color: var(--prim-clr);
}

#news .news-item .news-info p {
  padding: 0;
  margin: 0;
  color: #b8b8b8;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

/* news Details
--------------------------------*/
.news-details {
  padding-top: 30px;
}

.news-details .news-details-container {
  position: relative;
}

.news-details .news-details-carousel {
  position: relative;
  z-index: 1;
}

.news-details .news-details-carousel .owl-nav, .news-details .news-details-carousel .owl-dots {
  margin-top: 5px;
  text-align: left;
}

.news-details .news-details-carousel .owl-dot {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.news-details .news-details-carousel .owl-dot.active {
  background-color: var(--prim-clr) !important;
}

.news-details .news-info {
  padding: 30px;
  position: absolute;
  right: 0;
  bottom: -70px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.news-details .news-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.news-details .news-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.news-details .news-info ul li + li {
  margin-top: 10px;
}

.news-details .news-description {
  padding-top: 50px;
}

.news-details .news-description h2 {
  width: 50%;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.news-details .news-description p {
  padding: 0 0 0 0;
}

@media (max-width: 768px) {
  .news-details .news-description h2 {
    width: 100%;
  }
  .news-details .news-info {
    position: static;
    margin-top: 30px;
  }
}

/* Pictures Section
--------------------------------*/
.pictures {
  background: #fff;
}

#news.pictures .news-item {
  height: auto;
  padding-bottom: 30px;
}

#news.pictures .news-item figure {
  border: 5px solid rgb(226, 226, 226);
  border-radius: 4px;
  height: 240px;
}

#news.pictures .news-wrap {
  overflow: hidden;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

#news.pictures .news-wrap:hover {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
}

/* gallery animation
--------------------------------*/
#news .pictures-container .news-wrap {
  overflow: hidden;
}

#news .pictures-container .news-wrap img {
  transition: all 750ms  cubic-bezier(.5, 0, .5, 1);
}

#news .pictures-container .news-wrap img:hover {
	transform: scale(1.3);
}

#news .pictures-container .news-item figure .link-preview{ 
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: none;
  border-radius: 0%;
  transform: translate(0, 0);
}

/* Videos Section
--------------------------------*/
#news.videos .news-wrap {
  box-shadow: none ;
}

#news.videos .news-wrap:hover {
  box-shadow: none;
}

#news.videos .news-wrap .video {
  width: 450px;
  height: 315px;
}

@media only screen and (max-width: 480px) {
  #news.videos .news-wrap .video {
    width: 400px;
    height: 315px;
  }
}

@media only screen and (max-width: 470px) {
  #news.videos .news-wrap .video {
    width: 390px;
    height: 315px;
  }
}

@media only screen and (max-width: 420px) {
  #news.videos .news-wrap .video {
    width: 350px;
    height: 250px;
  }
}

@media only screen and (max-width: 380px) {
  #news.videos .news-wrap .video {
    width: 300px;
    height: 250px;
  }
}

/* Contact Section
--------------------------------*/
#contact {
  background: url("../img/about-bg.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 160px 0;
  position: relative;
}

#contact::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 9;
}

#contact .container {
  position: relative;
  z-index: 10;
}

#contact .contact-info {
  margin-bottom: 20px;
  text-align: center;
}

#contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: var(--prim-clr);
}

#contact .contact-info address, #contact .contact-info p {
  margin-bottom: 0;
  color: #000;
}

#contact .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #666;
}

#contact .contact-info a {
  color: #000;
}

#contact .contact-info a:hover {
  color: var(--prim-clr);
}

#contact .contact-address, #contact .contact-phone, #contact .contact-email {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  #contact .contact-address, #contact .contact-phone, #contact .contact-email {
    padding: 20px 0;
  }
}

@media (min-width: 768px) {
  #contact .contact-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}

#contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
}

#contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

#contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

#contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

#contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: var(--prim-clr);
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

#contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid var(--prim-clr);
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

#contact .php-email-form input, #contact .php-email-form textarea {
  padding: 10px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
}

#contact .php-email-form input::focus, #contact .php-email-form textarea::focus {
  background-color: var(--prim-clr);
}

#contact .php-email-form button[type="submit"] {
  background: var(--prim-clr);
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

#contact .php-email-form button[type="submit"]:hover {
  background: #13a456;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}





/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 0 0 30px 0;
  font-size: 14px;
  background: var(--prime-clr-light);
}

#footer .footer-top {
  background: #f3fdef;
  padding: 60px 0 30px 0;
  border-bottom: 3px solid var(--prim-clr);
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .logo a {
  padding-left: 0;
}

#footer .logo img {
  padding-left: 0;
}

#footer .footer-top .footer-info h3 {
  color: #000;
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 10px;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-left: 4px solid var(--prim-clr);
}

#footer .footer-top .footer-info p {
  color: #222;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
}

/* footer && header social links starts */
#footer .footer-top .social-links a {
  margin-bottom: .4em;
}

#footer .footer-top .social-links a,
.header-social .social-link {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover{
  background: var(--prim-clr);
  color: #fff;
}
/* footer && header social links ends */

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #111;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top h4::before, #footer .footer-top h4::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}

#footer .footer-top h4::before {
  right: 0;
  background: #111;
}

#footer .footer-top h4::after {
  background: var(--prim-clr);
  width: 60px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 8px;
  color: #111;
}

#footer .footer-top .footer-links ul li {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #111;
}

#footer .footer-top .footer-links ul a:hover {
  color: var(--prim-clr);
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #555;
}
