/*start our-work seciton*/

.our-work {
	padding: calc(var(--spacer-l) * 2);
	padding-bottom: calc(var(--spacer-l) * 4);
	width: 100%;
	background-color: var(--special-clr3);
	/*display: flex;
	flex-direction: column;
	align-items: center;*/
}

.work-title {
	color: var(--special-clr2);
	text-align: center;
	text-transform: capitalize;
	font-size: 2em;
	padding-bottom: var(--spacer-l);
}

.gallary {
	width: calc(100% - var(--spacer-l));
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-basis: 300px;
}

.gallary-item {
	max-width: 300px;
	max-height: 300px;
	overflow: hidden;
	background-color: var(--prim-clr);
	margin: 0;
}

.gallary-item img {
	width: 300px;
	height: 300px;
	transition: transform 750ms cubic-bezier(.5, 0, .5, 1),
                opacity 250ms linear;
}

.gallary-item img:hover {
	transform: scale(1.2);
    opacity: .5;
}

/*finish our work seciton*/